<div>
  <p class="text-(--color-yellow) text-center bg-[#0B1E46] py-2">
    Get 50% off SpeakUp Premium & unlock new language superpowers!
  </p>

  <div class="header w-full py-20">
    <div class="container max-w-7xl mx-auto flex flex-col md:flex-row items-center justify-between">
      <div class="text-white max-w-xl p-6 lg:p-0">
        <h1 class="[font-size:var(--fs-heading-xl)]   font-bold" >Studying Online is now much easier</h1>
        <p class="lg:[font-size:var(--fs-p-l)]  opacity-90 mb-8">
          Speak Up is an interesting platform that will teach<br />
          you in more an interactive way
        </p>

        <button
          class="bg-[#FFC445] hover:bg-[#ffb829] text-black font-semibold px-8 py-3 rounded-lg shadow-md transition"
        >
          Let's start
        </button>
      </div>

      <div class="mt-12 md:mt-0 flex justify-center md:justify-end w-full md:w-1/2">
        <img src="assets/images/rafiki.png" class="w-[320px] md:w-[480px] lg:w-[550px]" />
      </div>
    </div>
  </div>
</div>
