<app-navbar></app-navbar>
<div class="p-(--main-padding) text-white bg-(--color-primary)">
  <h1 class="text-(--h-font) font-bold ">About Speak Up</h1>
  <p class=" text-(--p-font) md:line-clamp-none max-w-2xl">
    SpeakUp is a ground-breaking app for learning English , Turkish , France words and improving vocabulary for all
    speakers of English, from native speakers to beginner learners.It makes language learning more accessible to
    everyone around the globe....
  </p>
</div>
<div class="p-5 md:px-[210px]">
  <p class="text-[11px] md:text-[20px] py-2">Speak Up exists to empower people through languages. Whether you’re
    learning for a new job, new
    love or simply a new skill, your path to fluency starts here.</p>
  <h2 class="text-[16px] font-bold md:text-[24px]">How Speak Up works:</h2>
  <ul class="features my-2">
    <li class="font-bold text-[16px] text-(--color-primary) md:text-[20px]">Self-paced study</li>
    <li class="text-[11px] md:text-[20px]">Complete your personalised Study Plan, and get friendly reminders when it’s
      time to learn using our expertly designed lessons. Benefit from the smart technology in our Review section, which
      highlights what to revise and when. Self-paced studying works because you’re in control</li>
  </ul>
</div>
<div class="flags flex flex-row px-5 md:px-10 lg:px-[317px] py-5 items-center justify-center">
  <div class="p-6 border border-[#BDBDBD] rounded-2xl flex items-center justify-around  flex-col mr-10">
    <img src="assets/images/US.png" alt="">
    <span class="py-2 text-[10px] md:text-[20px]">English</span>
  </div>
  <div class="p-6 border border-[#BDBDBD] rounded-2xl flex items-center justify-center  flex-col mr-10">
    <img src="assets/images/DE.png" alt="">
    <span class="py-2 text-[10px] md:text-[20px]">France</span>
  </div>
  <div class="p-6 border border-[#BDBDBD] rounded-2xl flex items-center justify-center  flex-col mr-10">
    <img src="assets/images/GP.png" alt="">
    <span class=" py-2 text-[10px] md:text-[20px]">Germany</span>
  </div>
  <div class="p-6 border border-[#BDBDBD] rounded-2xl flex items-center justify-center  flex-col ">
    <img src="assets/images/TR.png" alt="">
    <span class="py-2 text-[10px] md:text-[20px]">turkish</span>
  </div>
</div>
<div class="together  lg:px-(--main-padding)  flex flex-col md:flex-row py-10 justify-between items-center text-center">
  <div class="mx-3">
    <h2 class="text-16px font-bold md:text-[40px]">The accurate English test with
      fast results</h2>
    <p class="py-5 text-[12px] md:text-[16px]">SPEAK UP is a quick and convenient online test to help higher education
      institutions and employers check the English levels of individuals and groups of candidates. It combines the
      latest AI technology with the reliability and quality you expect from Speak Up.</p>
  </div>
  <img src="assets/images/together.png" alt="">
</div>
<div class="  lg:px-(--main-padding)  flex flex-col md:flex-row py-10 justify-between items-center text-center">
  <img src="assets/images/study2.png" alt="">

  <div class="mx-3">
    <h2 class="text-20px font-bold md:text-[40px]">our path to learning English, step by step</h2>
    <p class="py-5 text-[12px] md:text-[16px]">effective and rewarding. Our unique approach encourages continuous
      progression with a clear path to improve language skills. We have qualifications for schools, general and higher
      education, and business.</p>
  </div>
</div>
<div class="  lg:px-(--main-padding)  flex flex-col md:flex-row py-10 justify-between items-center text-center">
  <div class="mx-3">
    <h2 class="text-16px font-bold md:text-[40px]">Together we inspire learners to go further</h2>
    <p class="py-5 text-[12px] md:text-[16px]">Our range of free teaching resources, lesson plans and activities is
      designed to help you prepare your students for our exams and tests. We also have a range of teaching
      qualifications, courses and support to help you develop as a teacher.</p>
  </div>
  <img src="assets/images/together.png" alt="">
</div>
<div class="  lg:px-(--main-padding)  flex flex-col md:flex-row py-10 justify-between items-start ">
  <div class="mx-3">
    <h2 class="text-16px font-bold md:text-[40px]">Motivate others: </h2>
    <p class="py-5 text-[12px] md:text-[16px]">Our range of free teaching resources, lesson plans and activities is
      designed to help you prepare your students for our exams and tests. We also have a range of teaching
      qualifications, courses and support to help you develop as a teacher.</p>
  </div>
</div>
<app-bg></app-bg>
<section class="w-full py-10 bg-[#CDE0FF]">
  <div class=" mx-auto px-4">

    <div class="bg-[#2563EB] rounded-xl p-6 md:p-5 flex flex-col md:flex-row items-center gap-6">
      <div class="flex items-center gap-4 md:gap-6">
        <img src="assets/images/image139.png" class="w-20 h-20 md:w-28 md:h-28 rounded-full object-cover border-4 border-white">
        <img src="assets/images/image144.png" class="w-20 h-20 md:w-28 md:h-28 rounded-full object-cover border-4 border-white">
        <img src="assets/images/image145.png" class="w-20 h-20 md:w-28 md:h-28 rounded-full object-cover border-4 border-white">
      </div>

      <div class="text-center md:text-left text-white md:ml-6">
        <h2 class="font-bold text-[18px] md:text-[28px]">
          So do you want to improve your English?
        </h2>
        <p class="text-[13px] md:text-[18px] mt-2 leading-relaxed">
          Practice material and learning resources to help you improve your English
        </p>
      </div>

    </div>

  </div>
</section>

<app-text></app-text>
<app-team></app-team>
<app-footer></app-footer>
