<div class="bg-[#F3F7FC] relative overflow-hidden lg:px-(--main-padding) my-auto">
  <div class="absolute top-0 right-0 w-full max-w-lg h-full bg-(--color-primary) rounded-tl-4xl rounded-bl-4xl rounded-tr-3xl rounded-br-3xl">
    <img src="/assets/images/Frame.png" alt="background" class="w-full h-full object-cover">
  </div>

  <div class="container mx-auto px-6 py-6 lg:py-20">
    <div class="flex flex-col lg:flex-row items-center justify-between gap-10 relative z-10">
      <div class="max-w-2xl text-left">
        <h2 class="text-2xl lg:text-5xl font-bold text-gray-800 leading-tight">
          Test Your English
        </h2>
        <p class="mt-4 text-sm lg:text-xl font-medium text-gray-700 leading-relaxed">
          Try our quick, free online tests to find out what your level of English is,
          and which <span class="text-(--color-primary) font-bold">SpeakUp</span> English Qualification
          might be best for you. There are tests suited for every level.
        </p>
      </div>

      <div class="flex justify-left lg:justify-center">
        <span class="px-20 py-2 bg-white rounded-2xl">
          <button class="bg-blue-600 text-white font-semibold px-15 py-2 rounded-2xl text-lg lg:text-xl shadow-lg hover:bg-blue-700 transition transform hover:scale-105">
            Test Your English
          </button>
        </span>
      </div>
    </div>
  </div>
</div>
