<div class="Footer text-white">
  <div class="container mx-auto flex flex-col lg:flex-row gap-10 p-10">
    <div class="w-full lg:w-1/4 text-[16px]">
      <p>
        mastering the 100 most <br />
        important real-life <br />
        conversations
      </p>
    </div>
    <div class="w-full lg:w-1/4">
      <h1 class="font-bold text-[16px] pb-2">Speak up courses</h1>
      <div class="text-[14px] space-y-1">
        <p>Learn English</p>
        <p>Learn Turkish</p>
        <p>Learn French</p>
      </div>
    </div>
    <div class="w-full lg:w-1/4">
      <h1 class="font-bold text-[16px] pb-2">Products</h1>
      <div class="text-[14px] space-y-1">
        <p>Landing page</p>
        <p>About us</p>
        <p>Contact us</p>
      </div>
    </div>

    <div class="w-full lg:w-1/4">
      <h1 class="font-bold text-[16px] pb-2">Contact Information</h1>
      <div class="text-[14px] space-y-3">
        <p class="flex items-center gap-2">
          <img class="w-3 ml-1" src="/assets/images/phone.png" />
          +34933478486
        </p>

        <p class="flex items-center gap-2">
          <img class="w-5" src="/assets/images/mail.png" />
          Info@speakup.we
        </p>
        <p class="flex items-center gap-2">
          <img class="w-5" src="/assets/images/location.png" />
          Barcelona, C/ de Sardenya
        </p>
      </div>
    </div>
  </div>
  <hr class="border border-white" />
  <div class="text-white">
    <div class="container mx-auto flex flex-col lg:flex-row justify-between p-5">
      <p>2023 Speakup. All Rights Reserved.</p>
      <div class="flex items-center gap-4">
        <a href="#" class="hover:underline">Terms & Conditions</a>
        <a href="#" class="hover:underline">Privacy Policy</a>
      </div>
    </div>
  </div>
</div>
