<div class="sm:my-auto">
  <p class="text-(--color-yellow) text-center bg-[#0B1E46] ">Get 50% off SpeakUp Premium & unlock new language
    superpowers!</p>
  <div class="bg-gradient-to-r from-(--color-primary) to-(--color-secondary) flex flex-col lg:flex-row">
    <div class="text-white flex flex-col mx-5 items-center my-5 text-center lg:items-start lg:text-left lg:justify-center lg:pl-(--main-padding)">
      <h1 class="font-bold text-[20px] sm:text-[20px] lg:text-[44px]">
Studying Online is now much easier</h1>
      <p class="font-normal lg:text-[20px] sm:text-[12px]">Speak Up is an interesting platform that will teach you in more an interactive
        way</p>
      <button class=" bg-(--color-yellow) p-3 rounded-xl ml-0 my-5">Let's Start</button>
    </div>
    <div class="m-10 lg:pr-(--main-padding)"><img src="/assets/images/rafiki.png" alt="">
    </div>
  </div>
</div>
