<div
  class="lg:p-(--main-padding-left) lg:p-(--main-padding-right) lg:pt-0 text-center sm:text-center"
>
  <h1 class="font-bold text-[32px]">Pricing Plan</h1>
  <p>Choose the right pricing for you and get started</p>
  <div class="flex flex-col lg:flex-row text-left gap-6 mt-6">
    <div class="lg:w-1/3 rounded-xl bg-white border border-[#D3E0FB] p-4">
      <h4 class="font-bold text-[20px]">Basic</h4>
      <p class="text-(--color-gray) mb-3">Limited access</p>
      <div class="font-bold text-[24px] bg-[#E9EFFD] p-4">Free</div>
      <ul class="text-(--color-gray) space-y-2 mt-4 text-[14px]">
        <li class="flex flex-row gap-2">
          <img class="w-6" src="/assets/images/correct.png" />Every first chapter free
        </li>
        <li class="flex flex-row gap-2">
          <img class="w-6" src="/assets/images/correct.png" />Selection of free courses (4)
        </li>
        <li class="flex flex-row gap-2">
          <img class="w-6" src="/assets/images/correct.png" />Free professional profile and job
          board access
        </li>
        <li class="flex flex-row gap-2">
          <img class="w-6" src="/assets/images/correct.png" />Upgrade to earn certificates
        </li>
      </ul>
      <button class="text-(--color-primary) border border-[#2563EB] p-4 mt-4 w-full">
        Get Started
      </button>
    </div>
    <div class="lg:w-1/3 rounded-xl bg-white border border-[#D3E0FB] p-4">
      <h4 class="font-bold text-[20px]">Premium</h4>
      <p class="text-(--color-gray) mb-3">For individuals</p>
      <div class="font-bold text-[24px] bg-[#92B1F5] p-4">$80.99 / month</div>
      <ul class="text-(--color-gray) space-y-2 mt-4 text-[14px]">
        <li class="flex flex-row gap-2">
          <img class="w-6" src="/assets/images/correct.png" />Access our full content library
        </li>
        <li class="flex flex-row gap-2">
          <img class="w-6" src="/assets/images/correct.png" />Shareable certificate upon completion
        </li>
        <li class="flex flex-row gap-2">
          <img class="w-6" src="/assets/images/correct.png" />Access to course materials
        </li>
        <li class="flex flex-row gap-2">
          <img class="w-6" src="/assets/images/correct.png" />Go from zero to job ready
        </li>
        <li class="flex flex-row gap-2">
          <img class="w-6" src="/assets/images/correct.png" />Graded assignments and exams
        </li>
        <li class="flex flex-row gap-2">
          <img class="w-6" src="/assets/images/correct.png" />Course support
        </li>
        <li class="flex flex-row gap-2">
          <img class="w-6" src="/assets/images/correct.png" />More ways to learn to code
        </li>
      </ul>
      <button class="text-[#fff] border border-[#2563EB] p-4 mt-4 w-full  bg-[#2563EB]">Get Started</button>
    </div>
    <div class="lg:w-1/3 rounded-xl bg-white border border-[#D3E0FB] p-4">
      <h4 class="font-bold text-[20px]">Teams</h4>
      <p class="text-(--color-gray) mb-3">For teams of 2 and up</p>
      <div class="font-bold text-[24px] bg-[#E9EFFD] p-4">$139 / month</div>
      <ul class="text-(--color-gray) space-y-2 mt-4 text-[14px]">
        <li class="flex flex-row gap-2">
          <img class="w-6" src="/assets/images/correct.png" />Everything in premium plus
        </li>
        <li class="flex flex-row gap-2">
          <img class="w-6" src="/assets/images/correct.png" />Access to course materials
        </li>
        <li class="flex flex-row gap-2">
          <img class="w-6" src="/assets/images/correct.png" />Manage your group
        </li>
        <li class="flex flex-row gap-2">
          <img class="w-6" src="/assets/images/correct.png" />View learning activity and track
          progress
        </li>
      </ul>
      <button class="text-(--color-primary) border border-[#2563EB] p-4 mt-4 w-full">
        Get Started
      </button>
    </div>
  </div>
</div>
