@import "tailwindcss";
@plugin "daisyui";
:root{
   --color-primary: #2563EB;
  --color-secondary: #4FB3FF;
  --color-yellow:#EBAD25;
  --main-padding:110px;
  --radius-medium: 8px;
  --spacing-large: 24px;
}
