.navbar{
  background-color: var(--bg-white);
  // padding: var(--padding-contain);

}
.navbar ul li a.active{
  color: var(--color-primary);
}
html[dir="rtl"] nav {
  direction: rtl;
}

html[dir="rtl"] ul {
  text-align: right;
}
