<div class="container mx-auto mb-6  sm:text-center">
<h2 class="text-[16px] lg:text-[40px] text-[#163B8D] font-bold ms-3 text-left my-2">
  Popular Course
</h2>
  <div class="gap-5 flex flex-wrap justify-between sm:justify-start">
    <app-courses-card></app-courses-card>
    <app-courses-card></app-courses-card>
    <app-courses-card></app-courses-card>
    <app-courses-card></app-courses-card>
    <app-courses-card></app-courses-card>
    <app-courses-card></app-courses-card>
  </div>
  <button class="text-[#163B8D] flex items-center justify-center mt-4 mx-auto py-2 rounded-xl border border-[#163B8D] px-10">
    See All Courses <img src="/assets/images/next2.png" alt="" class="w-5 h-5 object-contain" />
  </button>

</div>
